
/* Header Styling */
header {
    background-color: var(--backup-color);
    padding: 1em;
    border-bottom: solid 5px;
    text-align: right;
    width: auto;
}

h1 {
    cursor: pointer;
    font-size: 2.25em;
}










    /* footer styling */
    footer {
        background-color: var(--backup-color);
        padding: 1em;
        text-align: left;
    }