/* root color configure */
:root {
    --lightmodebackground: #f4d8cd;
    --lightmodetext: #edb183;
    --darkmodebackground: #3a2e39;
    --darkmodetext: #324376;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

/* Header Styling */
header {
    padding: 1em;
    border-bottom: solid 5px;
    border-color: black;
    text-align: right;
    width: auto;
}

h1 {
    cursor: pointer;
    font-size: 2.25em;
}

/* Form Header Styling */
h3 {
    order: 1;
    color: var(--text-color);
    text-align: center;
    font-size: 1.5em;
}
/* Form Styling */
form {
    width: 100%;
    display: block;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    order: 2;
}
form label {
    display: block;
    margin: 0.5em;
}

