/* root color configure */
:root {
    --lightmodebackground: #f4d8cd;
    --lightmodetext: #edb183;
    --darkmodebackground: #31363F;
    --darkmodetext: #76ABAE;
}


/* Elements to apply to entire page */
/* Remove margins and padding from all elements */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main Body Styling */
body {
    background-color: var(--lightmodebackground);
}

/* Main content styling */
main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex: 1 1 40vw;
}

/* split section widths to allow for spacing */
section {
    width: 45%;
    display: flex;
    flex-direction: column;
}

/* rightside box around form */
.rightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 80vh;
    border: solid 5px;
    border-color: black;
    padding: 3.5vh;
    margin: .25em;
    min-height: 400px;
    min-width: 300px;
    margin-top: .25em;
}

/* left-side-box around sphere */
.spherebox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 80vh;
    border: solid 5px;
    border-color: black;
    padding: 3.5vh;
    margin: .25em;
    min-height: 400px;
    min-width: 375px;
    margin-top: .25em;
}
/* Sphere-Styling */
.sphere {
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: repeating-linear-gradient(45deg, #a26769, #a26769 10px, #582c4d 10px, #582c4d 20px);
}
/* sphere text */
h2 {
    color: #EEEEEE;
    text-align: center;
    font-size: 2em;
    position: relative;
    text-shadow: 2px 2px 5px black;
}

/* Input Styling */
#username, 
#title,
#content {
    width: 100%;
    font-size: 1.5em;
    height: fit-content;
}

/* Style Submit Button */
button {
    background-color: #EEEEEE;
    color: #222831;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: .5em;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    text-transform: uppercase;
}

/* Light Mode */
.light {
    background-color: var(--lightmodebackground);
    color: var(--lightmodetext);
    height: 100vh;
    }

/* Dark Mode */
.dark {
    background-color: var(--darkmodebackground);
    color: var(--darkmodetext);
    height: 100vh;
    }

.dark h2 {
    color: var(--darkmodetext);
    text-align: center;
    font-size: 2em;
    position: relative;
    text-shadow: 2px 2px 5px black;
}

.dark .sphere {
    background: repeating-linear-gradient(45deg, #31363F, #31363F 10px, #1E555C 10px, #1E555C 20px);
}