/* root color configure */
:root {
    --background-color: #bfb5af;
    --text-color: #582c4d;
    --link-color: #a26769;
    --highlight-color: #ece2d0;
    --backup-color: #d5b9b2;
}

/* Remove margins and padding from all elements */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Elements to apply to entire page */

/* Main Body Styling */
body {
    background-color: var(--background-color);
}

/* Header Styling */
header {
    background-color: var(--backup-color);
    padding: 1em;
    border-bottom: solid 5px;
    text-align: right;
}

h1 {
    cursor: pointer;
    font-size: 2.25em;
}


/* Main content styling */
main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex: 1 1 40vw;
}

/* split section widths to allow for spacing */
section {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.section-blogsphere {
    display: flex;
}

.section-rightside {
    display: flex;
}

/* Sphere-Styling */
.spherebox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 80vh;
    border: solid 5px;
    padding: 7.5vh;
    margin: 1em;
    min-height: 400px;
    min-width: 300px;
    margin-top: 1em;
}
.sphere {
    height: 350px;
    width: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: repeating-linear-gradient(45deg, #a26769, #a26769 10px, #582c4d 10px, #582c4d 20px);
    margin: 1em;
}

h2 {
    color: var(--highlight-color);
    text-align: center;
    font-size: 2em;
    position: relative;
}

/* Style Submit Button */
button {
    background-color: var(--link-color);
    color: var(--highlight-color);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* footer styling */
footer {
    background-color: var(--backup-color);
    padding: 1em;
    text-align: center;
}